.restaurant{
    margin-bottom: $size-top;
    @include tablet{
        margin-bottom: ($size-top - 1rem);
    }
}

/* --------section fonctionnement ------ */
.functional-section{
    @include desktop{
        margin: 4rem 0;
    }
    &__container{
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
    }
    &__box{
        position: relative;
            @include tablet {
                padding: 0 10rem;
            }
            @include desktop{
                padding: 0;
                width:calc(100% / 3);
            }
    }
    
    &__icon{
        position: absolute;
        top: $size-top-icon-f;
        left: $size-left-icon-f;
        display: inline-flex;
        background-color: $color-primary;
        border-radius: 50%;
        color: white;
        z-index: 1;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        font-size: small;
        
            @include tablet {
                left:calc( $size-left-icon-f + 10rem);
            }
            
            @include desktop{
                top:calc( $size-top-icon-f + 2rem);
                left: $size-left-icon-f;
            }

    }
    &__text{
        font-weight: bold;
        background-color: $color-input;
        margin: 2rem;
        padding: 1.6rem;
        column-gap: .9rem;
            @include flex-center;
            @include border-r;      
            @include ombre;

        &:hover{
            @include color-light ($color-input);
            @include ombre-hover;
        }
        
        &:hover .texticon{
            color:$color-primary;
        }
    }
}

/* ----- section menu des restaurants ------*/
.menu{
    background-color: $color-input;
    border-radius: 2rem 2rem 0 0;
    padding: 0 1rem 3rem 1rem;
    position: relative;
    top:$size-top;
    @include tablet{
        border-radius: 5rem 5rem 0 0;
        padding: 0 7rem 3rem 7rem;
        top:calc( $size-top - 1rem);
    }
    @include desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:2rem;
        padding: 0 4rem 5rem 4rem;
    }
}
.menu-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1.2rem ;
    &__title{
        @extend %shri-titre;
        font-size: 1.55rem;
    }
    &__icon{
        padding-left: 16.5rem;
        @include heart-move;
    }
}


.menu-box{
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    margin-bottom: 3rem;
    &__title{
        @include txt-color-light;
        margin-bottom: 0;
        &--underline{
            border-bottom: .2rem solid $color-tertiary;
        }
    }
}

.menu-box-meal{
    display: flex;
    align-items: center;
    background-color: white;
    height: 4.5rem;
    border-radius: 1rem;
    position: relative;
    @include ombre;
    transition: width 450ms ease-out;
    animation : menu 1s backwards ease-out;
    @for $i from 1 through 4 {
        &--#{$i}{
            animation-delay: $anim-menu-delay*$i;
        }
    }
    &:hover, &:active{
        cursor:pointer;
            & .menu-box-meal__body{
                @include menu-box-meal-width-hover;
            }  
            &  .menu-box-meal__price{
                transform: translateX(-4.5rem);
            }         
            &  .menu-box-meal__btn{
                opacity: 1;
                transform: scalex(1);
                & > .menu-box-meal__icon{
                   animation: rotation-360 500ms ease-out forwards;
                }
            }
    }

    &__body{
        padding-left: .5rem;
        transition: width 450ms ease-out;
        @include menu-box-meal-width;
    }
    &__title{
        margin: .1rem 0;
        font-size: 1rem;
        @include txt-hidden;
    }
    &__text{
        margin:0;
        font-size: .8rem;
        font-weight:lighter;
        @include txt-hidden;
    }
    &__price{
        position: absolute;
        right: .5rem;
        bottom:1rem;
        font-size: .9rem;
        transition: transform 450ms ease-out;
        
    }
    
    &__btn{
        position: absolute;
        right:0;
        background-color: $color-tertiary;
        padding:1.5rem;
        border-radius: 0 1rem 1rem 0;
        opacity: 0;
        width: 4.5rem;
        transform: scalex(0);
        transform-origin: right;
        transition: all 450ms ease-out;
    }
    &__icon{
        display: block;
        font-size:1.5rem;
        font-weight: bold;
        color: white;

    }

}