.form-header{
    display:flex;
    justify-content: center;
    background-color:rgb(234,234,234);
    &__container{
        margin-left: 5rem; 
    }
    &__span{
        margin-right: 0.5rem;
    }
    &__input{
        border: none;
        background-color:$color-input;
        font-weight: bold;
        outline: none;
    }
}
.form-deg{
    width: 100%;
    text-align: center;
    &__input{
        @include formulaire-color-deg (1rem);
        }
    &__restaurant{
        @include formulaire-color-deg;
       
    }
}