.header {
    margin-top:1rem;
    &__container{
        margin-bottom: 0.2rem;
        width:24rem;
        height:3rem ;
        box-shadow: 0rem 0.2rem 0.1rem rgba(218, 204, 204, 0.874);
         @include tablet {
            width:100%;
         }
        &--noshadow{
            box-shadow: none;
            display:flex;
            align-items: center;
            position: relative;
        }
    }
    &__logo {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 65%;
        object-fit: contain;
    }
    
}
