/* ------ Polices -------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
/*@keyframes anim-heart {
    0% {
        transform: scaleY(0);

    }
    17% {
        transform: scaleY(.18);
    }
    24% {
        transform: scaleY(.4);

    }
    46% {
        transform: scaleY(.81);
    }
  85%,100%{
    opacity:1;
  }
    100% {
        transform: scaleY(1);
    }
}*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu-body {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5px);
  }
}
@keyframes rotation-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    box-shadow: 0 0 0 #9356DC, 0 0 0 #FF79DA, 0 0 0 #99E2D0, 0 0 0 rgb(246, 185, 246);
  }
  to {
    box-shadow: 0 -0.8rem 0 #9356DC, -0.8rem 0 0 #FF79DA, 0 0.8rem 0 #99E2D0, 0.8rem 0 0 rgb(246, 185, 246);
  }
}
@keyframes loader-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h4, .menu-header__title, .loader-box__text {
  font-family: "Shrikhand", sans-serif;
}

.back__link {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  position: absolute;
}
.back__link i {
  font-size: 1.5rem;
}

.restaurant-link {
  text-decoration: none;
  color: black;
  width: 21rem;
  height: 15rem;
  border-radius: 1.6rem;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.menu-image {
  position: relative;
}
.menu-image__container {
  width: 100%;
  height: 18rem;
}
@media all and (min-width: 992px) {
  .menu-image__container {
    height: 28rem;
  }
}
.menu-image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: loader-opacity 400ms 2.8s ease-out forwards;
}

.loader-box {
  color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.loader-box__circle {
  width: 5.5rem;
  height: 5.5rem;
  padding-top: 5.55rem;
  border-radius: 50%;
  border: solid #eaeaea 0.1rem;
  animation: loader 1s linear alternate 6, loader-spinner 2s linear 3;
}
.loader-box__text {
  letter-spacing: 0.2rem;
  font-size: large;
  font-weight: bold;
}

.header {
  margin-top: 1rem;
}
.header__container {
  margin-bottom: 0.2rem;
  height: 3rem;
  box-shadow: 0rem 0.2rem 0.1rem rgba(218, 204, 204, 0.874);
}
.header__container--noshadow {
  box-shadow: none;
  display: flex;
  align-items: center;
  position: relative;
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 65%;
  object-fit: contain;
}

.form-header {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
}
.form-header__container {
  margin-left: 5rem;
}
.form-header__span {
  margin-right: 0.5rem;
}
.form-header__input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
  outline: none;
}

.form-deg {
  width: 100%;
  text-align: center;
}
.form-deg__input {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 80%);
  color: white;
  font-weight: bold;
  padding: 1rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0.4rem 0.4rem 0.3rem rgb(210, 200, 200);
}
.form-deg__input:hover {
  background: linear-gradient(180deg, #ff93e1 0%, #a16be0 80%);
  box-shadow: 0.4rem 0.4rem 0.3rem #b09e9e;
}
.form-deg__restaurant {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 80%);
  color: white;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0.4rem 0.4rem 0.3rem rgb(210, 200, 200);
}
.form-deg__restaurant:hover {
  background: linear-gradient(180deg, #ff93e1 0%, #a16be0 80%);
  box-shadow: 0.4rem 0.4rem 0.3rem #b09e9e;
}

.restaurant {
  margin-bottom: -4.2rem;
}
@media all and (min-width: 768px) {
  .restaurant {
    margin-bottom: -5.2rem;
  }
}

/* --------section fonctionnement ------ */
@media all and (min-width: 992px) {
  .functional-section {
    margin: 4rem 0;
  }
}
@media all and (min-width: 992px) {
  .functional-section__container {
    display: flex;
    justify-content: space-between;
  }
}
.functional-section__box {
  position: relative;
}
@media all and (min-width: 768px) {
  .functional-section__box {
    padding: 0 10rem;
  }
}
@media all and (min-width: 992px) {
  .functional-section__box {
    padding: 0;
    width: 33.3333333333%;
  }
}
.functional-section__icon {
  position: absolute;
  top: 1.5rem;
  left: 1.3rem;
  display: inline-flex;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: small;
}
@media all and (min-width: 768px) {
  .functional-section__icon {
    left: 11.3rem;
  }
}
@media all and (min-width: 992px) {
  .functional-section__icon {
    top: 3.5rem;
    left: 1.3rem;
  }
}
.functional-section__text {
  font-weight: bold;
  background-color: #eaeaea;
  margin: 2rem;
  padding: 1.9rem;
  column-gap: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  box-shadow: 0.4rem 0.4rem 0.3rem rgb(210, 200, 200);
}
.functional-section__text:hover {
  background-color: #efefef;
  box-shadow: 0.4rem 0.4rem 0.3rem #b09e9e;
}
.functional-section__text:hover .texticon {
  color: #9356DC;
}

/* ----- section menu des restaurants ------*/
.menu {
  background-color: #eaeaea;
  border-radius: 2rem 2rem 0 0;
  padding: 0 1rem 3rem 1rem;
  position: relative;
  top: -4.2rem;
}
@media all and (min-width: 768px) {
  .menu {
    border-radius: 5rem 5rem 0 0;
    padding: 0 7rem 3rem 7rem;
    top: -5.2rem;
  }
}
@media all and (min-width: 992px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 4rem 5rem 4rem;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1.2rem;
}
.menu-header__title {
  font-size: 1.8rem;
}
.menu-header__icon {
  padding-left: 19rem;
  font-size: 1.5rem;
  position: absolute;
}
.menu-header__icon:hover::after, .menu-header__icon:active::after {
  opacity: 1;
}
.menu-header__icon::after {
  content: "\f004";
  position: absolute;
  right: 0;
  font-weight: bolder;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
  transition: opacity 1s ease-in-out;
}

.menu-box {
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
  margin-bottom: 3rem;
}
.menu-box__title {
  font-weight: lighter;
  font-size: 1.1rem;
  color: #7d7d7d;
  margin-bottom: 0;
}
.menu-box__title--underline {
  border-bottom: 0.2rem solid #99E2D0;
}

.menu-box-meal {
  display: flex;
  align-items: center;
  background-color: white;
  height: 4.5rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0.4rem 0.4rem 0.3rem rgb(210, 200, 200);
  transition: width 450ms ease-out;
  animation: menu 1s backwards ease-out;
}
.menu-box-meal--1 {
  animation-delay: 200ms;
}
.menu-box-meal--2 {
  animation-delay: 400ms;
}
.menu-box-meal--3 {
  animation-delay: 600ms;
}
.menu-box-meal--4 {
  animation-delay: 800ms;
}
.menu-box-meal:hover, .menu-box-meal:active {
  cursor: pointer;
}
.menu-box-meal:hover .menu-box-meal__body, .menu-box-meal:active .menu-box-meal__body {
  width: 13.5rem;
}
@media all and (min-width: 768px) {
  .menu-box-meal:hover .menu-box-meal__body, .menu-box-meal:active .menu-box-meal__body {
    width: 28.5rem;
  }
}
@media all and (min-width: 992px) {
  .menu-box-meal:hover .menu-box-meal__body, .menu-box-meal:active .menu-box-meal__body {
    width: 19.5rem;
  }
}
.menu-box-meal:hover .menu-box-meal__btn, .menu-box-meal:active .menu-box-meal__btn {
  opacity: 1;
  transform: scalex(1);
}
.menu-box-meal:hover .menu-box-meal__btn > .menu-box-meal__icon, .menu-box-meal:active .menu-box-meal__btn > .menu-box-meal__icon {
  animation: rotation-360 500ms ease-out forwards;
}
.menu-box-meal__body {
  width: 20rem;
  padding-left: 0.5rem;
  transition: width 450ms ease-out;
}
@media all and (min-width: 768px) {
  .menu-box-meal__body {
    width: 35rem;
  }
}
@media all and (min-width: 992px) {
  .menu-box-meal__body {
    width: 24rem;
  }
}
.menu-box-meal__title {
  margin: 0.1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-box-meal__text {
  margin: 0;
  font-size: 0.95rem;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-box-meal__price {
  display: inline-block;
  padding: 1.5rem 1rem 0 0.5rem;
}
.menu-box-meal__btn {
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  padding: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  width: 4.5rem;
  transform: scalex(0);
  transform-origin: right;
  transition: opacity 450ms ease-out;
}
.menu-box-meal__icon {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1.7rem 0;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
}
.footer__li {
  display: flex;
  align-items: center;
}
.footer__text {
  margin: 0;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

h4 {
  padding-left: 1.5rem;
  font-weight: 100;
  margin-top: 0;
}

/* ------ section reservation page d'accueil ------*/
.section-reservation {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding: 3rem 2rem;
  background-color: #f6f6f6;
}
.section-reservation h1 {
  margin: 0;
  text-align: center;
  font-weight: 900;
}
.section-reservation p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.1rem;
  color: #7d7d7d;
}

.home-page-h2 {
  font-weight: 800;
  margin-left: 1.5rem;
}

/* ------ section restaurants --------*/
.section-restaurant {
  background-color: #eaeaea;
  padding: 2rem 0 4rem;
}

.section-restaurant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media all and (min-width: 768px) {
  .section-restaurant-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 992px) {
  .section-restaurant-card {
    flex-wrap: nowrap;
    margin-top: 2rem;
  }
}

.restaurant-card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: 1.6rem;
  box-shadow: 0.4rem 0.4rem 0.3rem rgb(210, 200, 200);
}
.restaurant-card__container {
  position: relative;
  height: 10rem;
  border-radius: 1.6rem 1.6rem 0 0;
}
.restaurant-card__img {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem 1.6rem 0 0;
  object-fit: cover;
}
.restaurant-card__new {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  padding: 0.3rem;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: small;
  font-weight: bold;
}
.restaurant-card__body {
  padding: 0 1rem;
}
.restaurant-card__title {
  margin-bottom: 0;
}
.restaurant-card__subtitle {
  margin-top: 0.3rem;
}
.restaurant-card__icon {
  bottom: 2rem;
  right: 1rem;
  font-size: 1.5rem;
  position: absolute;
}
.restaurant-card__icon:hover::after, .restaurant-card__icon:active::after {
  opacity: 1;
}
.restaurant-card__icon::after {
  content: "\f004";
  position: absolute;
  right: 0;
  font-weight: bolder;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
  transition: opacity 1s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
