.menu-image{
    position: relative;
    &__container{
        width: 100%;
        height: $heigth-menu-image;
            @include desktop{
                height: calc( $heigth-menu-image + 10rem);
            }
    }
    &__img{
       @include img-size;
    }
}