.back__link{
    text-decoration: none;
    color:black;
    padding-left: 1rem;
    position: absolute;
    & i{
       font-size:1.5rem;
    }
}

.restaurant-link{
    text-decoration: none;
    color: black;
    width:21rem;
    height:15rem;
    @include border-r;
}

.footer__link{
    text-decoration: none;
    color:white;
}