.loader{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
   animation: loader-opacity 400ms 2.8s ease-out forwards;

}

.loader-box{
    color:$color-primary;
    @include flex-center;
    flex-direction: column;
    height: 100%;
    &__circle{
        width: 5.5rem;
        height: 5.5rem;
        padding-top: 5.55rem;
        border-radius: 50%;
        border:solid $color-input .1rem;
        animation: loader 1s linear alternate 6,
                  loader-spinner 2s linear 3;
    }
    &__text{
        letter-spacing: .2rem;
        font-size: large;
        font-weight: bold;
        @extend %shri-titre;
    }
}
