.loader{ 
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color:white;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: loader-opacity 400ms 2.8s forwards;
    
   /* @include tablet{
        height: 50%;
    }
    @include desktop{
        height: 100%;
    }*/
}

.loader-box{
    color:$color-primary;
     margin:0;
    @include position-center;
   /* transition: transform .4s cubic-bezier(0.23, 1.83, 0.420, 1.19);*/
    &__circle{
        width: 7rem;
        height: 7rem;
        padding-top: 8.1rem;
        border-radius: 50%;
       animation: loader 2s linear alternate 5,
                  loader-spinner 2s linear 8;
    }
    &__text{
        margin:0;
        @include position-center;
        letter-spacing: .1rem;
        font-size: large;
        font-weight: bold;
    }
}
