.section-reservation{
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    & h1{
        font-weight: 900;
    }
}

.accueil-h2 {
    font-weight: 800;
    margin-left: $size-gauche;
}

/* ------ section restaurants --------*/
.section-restaurant{
    background-color: $color-input;
    padding: 2rem 0 4rem;


}
.section-restaurant-card{
    @include flex-center;
    flex-direction: column;
    gap: 2rem;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include desktop{
            flex-wrap: nowrap;
            margin-top: 2rem;
        }
}
.lien-restaurant{
    text-decoration: none;
    color: black;
    width:21rem;
    height:15rem;
    @include border-r;
}
.restaurant-card{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    @include border-r;
    @include ombre;
    &__container{
        height:10rem ;
        border-radius: $size-border-r $size-border-r 0 0;
    }
    &__img{
        width: 100%;
        height: 100%;
        border-radius: $size-border-r $size-border-r 0 0;
        object-fit: cover;
    }
    &__new{
        position:absolute;
        top:.5rem;
        left:16rem;
        padding: .3rem;
        background-color: $color-tertiary;
        @include color-dark ($color-tertiary);
        font-size: small;
        font-weight: bold;
    }
    &__body{
        padding:0 1rem;
    }
    &__titre{
        margin-bottom: 0;
    }
    &__soustitre{
        margin-top: .3rem;
    }
    &__icon{
        bottom: 2rem;
        right: 1rem;
            @include heart-move;
    }
}


