@keyframes menu {
    0%{
        opacity: 0;
        transform: translateY(50px);
        
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes menu-body {
    from{
        transform: translateX(0px);
    }
    to{
        transform:translateX(-5px);
    }
}

@keyframes rotation-360{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes loader{
    from{
        box-shadow: 
        0 0 0 $color-primary,
        0 0 0 $color-secondary,
        0 0 0 $color-tertiary,
        0 0 0 rgb(246, 185,246);
    }
    to{
        box-shadow: 
        0 -0.8rem 0 $color-primary,
        -0.8rem 0 0 $color-secondary,
       0 .8rem 0 $color-tertiary,
       .8rem 0 0 rgb(246, 185,246);
    }
}
@keyframes loader-spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg) ;
    }
}

@keyframes loader-opacity{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        z-index:-1;
    }
}