@mixin ombre {
    box-shadow:0.4rem 0.4rem 0.3rem $color-bow-shadow;
}
@mixin ombre-hover {
    box-shadow:0.4rem 0.4rem 0.3rem darken($color-bow-shadow,15%);
    
}

@mixin formulaire-color-deg ($size-padding-form:3rem) {
    background: linear-gradient(180deg,$color-secondary 0%, $color-primary 80%);
    color:white;
    font-weight: bold;
    padding: 1rem $size-padding-form;
    border-radius: 2rem;
    border:none;
    @include ombre;
}

@mixin color-light ($couleur){
    background-color:lighten($couleur,35%);
}

@mixin color-dark ($couleur) {
    color: darken($couleur, 35%);
}

@mixin heart-move{
    font-size: $size-coeur;
    position: absolute;
        &:hover{  
            &::after{
                opacity:1; 
            }
        } 
        &::after{
            content: "";
            position: absolute;
            right: 0;
            font-weight: bolder;
            background: linear-gradient($color-secondary, $color-primary);
            background-clip:text;
            color:transparent;
            opacity: 0;
            transition: opacity 1s ease-in-out; 
        }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@mixin border-r{
    border-radius: $size-border-r;
}

@mixin txt-color-light {
    font-weight: lighter;
    font-size: 1.1rem;
    color: $color-txt;
}
@mixin txt-hidden {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

@mixin tablet {
    @media all and (min-width: map-get($breakpoints, tablet)){
        @content;
    }

}

@mixin desktop {
    @media all and (min-width: map-get($breakpoints, desktop)){
        @content;
    }   
} 