@mixin ombre {
    box-shadow:0.4rem 0.4rem 0.3rem rgba(210, 200, 200, 0.97);
}

@mixin formulaire-color-deg ($size-padding-form:3rem) {
    background: linear-gradient(180deg,$color-secondary 0%, $color-primary 80%);
    color:white;
    font-weight: bold;
    padding: 1rem $size-padding-form;
    border-radius: 2rem;
    border:none;
    @include ombre;
}

@mixin color-light ($couleur){
    background-color:lighten($couleur,35%);
}

@mixin color-dark ($couleur) {
    color: darken($couleur, 35%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin border-r{
    border-radius: $size-border-r;
}

@mixin txt-color-light {
    font-weight: lighter;
    font-size: 1.1rem;
    color: $color-txt;
}

@mixin tablet {
    @media all and (min-width: map-get($breakpoints, tablet)){
        @content;
    }

}

@mixin desktop {
    @media all and (min-width: map-get($breakpoints, desktop)){
        @content;
    }   
} 