$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-input:#eaeaea;
$color-background-primary:#f6f6f6;
$color-txt:#7d7d7d;
$color-footer:#353535;

$size-border-r: 1.6rem;
$size-gauche:1.5rem;